In [1]:
from selecting_data import get_data
import pandas as pd
from datetime import datetime
import plotly.graph_objects as go

In [9]:
tickers = ['BTC', 'ETH', 'ADA', 'DOGE', 'FUN']
data = get_data(tickers)

df = pd.DataFrame(data, columns = ['id', 'symbol', 'date', 'high', 'low', 'open', 'close', 'volumeto', 'volumefor'])
df = df.drop('id', axis=1)

Finding data for: 'BTC', 'ETH', 'ADA', 'DOGE', 'FUN'

In [13]:
df

      symbol        date   high     low   open  close     volumeto   volumefor
0        FUN  1458172800   0.00   0.000   0.00   0.00         0.00        0.00
1        FUN  1449100800   0.00   0.000   0.00   0.00         0.00        0.00
2        FUN  1449187200   0.00   0.000   0.00   0.00         0.00        0.00
3        FUN  1449273600   0.00   0.000   0.00   0.00         0.00        0.00
4        FUN  1449360000   0.00   0.000   0.00   0.00         0.00        0.00
...      ...         ...    ...     ...    ...    ...          ...         ...
10000    ETH  1467590400  12.13  11.280  11.74  11.38   8260333.00   726090.82
10001    ETH  1467676800  11.41   8.976  11.34  10.45   6584753.12   644840.11
10002    ETH  1467763200  11.11  10.210  10.47  10.43  12309767.28  1180583.52
10003    ETH  1467849600  10.31   9.529  10.43  10.03  10716900.61  1068420.96
10004    ETH  1467936000  11.64  10.300  10.03  11.27  12116057.51  1075333.09

[10005 rows x 8 columns]

In [14]:
# Helper functions
def convert_unix_to_datetime(date_col):
    'Converts the unix dates into YYYY-MM-DD'
    int_list = list((map(int,date_col)))
    date_list = list(map(datetime.utcfromtimestamp, int_list))
    converted_dates = [date_list[i].strftime('%Y-%m-%d') for i in range(len(date_list))]
    return converted_dates

def plot_crypto(symbol):
    'Plot the graph given a symbol name'
    df_symbol = df[df['symbol'] == f'{symbol}']
    fig = go.Figure(data=go.Ohlc(x=df_symbol['date'],
                        open=df_symbol['open'],
                        high=df_symbol['high'],
                        low=df_symbol['low'],
                        close=df_symbol['close']))
    fig.update_layout(
    title=f'{symbol} currency')
    return fig.show()

def get_coin(symbol, df=df):
    return df[df['symbol'] == symbol]
eth = get_coin('ETH')

date_column = convert_unix_to_datetime(df['date'])
df['date'] = date_column